<h1 class="text-center text-muted">Create user</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <div class="forms mb-4">
    <div class="row">
      <div class="col-md-6 offset-3">
        <% if @user.errors.any? %>
          <ul>
            <% @user.errors.full_messages.each do |error| %>
              <li class="text-warning"><%= error %></li>
            <% end %>
          </ul>
        <% end %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name , class: 'form-control' %>
        </div>
        <div class="actions mt-3">
          <%= f.submit 'Create user', class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
