<h1>You are checking user with the name: <%= @user.name %></h1>

<section>
  <h2>Created events</h2>

  <div class="upcoming-events">
    <h3>Upcoming events</h3>
    <% if @user.created_events.upcoming_events.size.positive? %>
      <% @user.created_events.upcoming_events.each do |event| %>
        <p><%= event.date %> - <%= event.location %> - <%= event.description %></p>
      <% end %>
    <% else %>
      <p>No upcoming events by <%= @user.name %></p>
    <% end %>
  </div>

  <div class="past-events">
    <h3>Past events</h3>
    <% if @user.created_events.past_events.size.positive? %>
      <% @user.created_events.past_events.each do |event| %>
        <p><%= event.date %> - <%= event.location %> - <%= event.description %></p>
      <% end %>
    <% else %>
      <p>No past events by <%= @user.name %></p>
    <% end %>
  </div>
</section>

<section>
  <h2>Attended/attending events</h2>

  <div class="upcoming-events">
    <h3>Upcoming events</h3>
    <% if @user.attended_events.upcoming_events.size.positive? %>
      <% @user.attended_events.upcoming_events.each do |event| %>
        <p><%= event.date %> - <%= event.location %> - <%= event.description %></p>
      <% end %>
    <% else %>
      <p>No upcoming events</p>
    <% end %>
  </div>

  <div class="past-events">
    <h3>Past events</h3>
    <% if @user.attended_events.past_events.size.positive? %>
      <% @user.attended_events.past_events.each do |event| %>
        <p><%= event.date %> - <%= event.location %> - <%= event.description %></p>
      <% end %>
    <% else %>
      <p>No past events</p>
    <% end %>
  </div>
</section>
